@import url(D:\Website\source\css\null.css);

.logo {
    position: relative;
    float: left;
}

.logo1 {
    margin-top: 28px;
    margin-left: 134px;
    position: absolute;
}

.logo2 {
    margin-left: 134px;
    margin-top: 37px;
}

.logo3 {
    margin-top: 21px;
}

.logo4 {
    margin-top: 28px;
}

.crowd {
    position: relative;
    float: left;
    font-size: 31.2px;
    line-height: 77px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6d6e70;
    margin-left: 10px;
    margin-top: 5px;
}

.me {
    color: #595959;
}

nav {
    margin-left: 466px;
    height: 85px;
}

ul {
    margin-top: 8px;
    float: left;
    padding-left: 40px;
    opacity: 0.67;
    font-family: 'Open Sans';
    font-size: 13.2px;
    line-height: 77px;
    font-weight: 600;

}

a:active {
    color: #000;
}

a:visited {
    color: #666666;
}

a:hover {
    color: #add136;
}

.login-button {
    margin-top: 26px;
    border-radius: 20px;
    background-color: #add136;
    margin-left: 150px;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 37px;
}

.login-button:hover {
    background-color: #7fa20a;
}

.login {
    padding-top: 11.5px;
    display: block;
    height: 37px;
    color: #fff;
    font-weight: bold;
}

.login:hover {
    color: #000;
}

.background_image_1 {
    width: 100%;
    height: 570px;
    opacity: 0.75;
    position: relative;
}

.header_background {
    background-color: #425948;
    position: relative;
}

.header_text {
    text-align: center;
    left: 21%;
    margin-top: -400px;
    position: absolute;
    font-size: 49.2px;
    line-height: 77px;
    font-weight: 600;
    color: #fff;
}

.banana {
    font-size: 35.2px;
    font-weight: 400;
}

.header_button {
    display: flex;
    justify-content: center;
}

.header_button_text {
    position: absolute;
    margin-top: -200px;
    width: 254px;
    height: 73px;
    background-color: #99c50a;
    font-size: 19.2px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 20px;

}

.header_button_text:hover {
    color: #000;
    background-color: #7fa20a;
}

.chart {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.ourwork {
    font-size: 31.2px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
}

.ourwork_text {
    margin-top: 70px;
    text-align: center;
    opacity: 0.7;
    font-size: 19.2px;
    line-height: 1.2;
    font-weight: 400;
    color: #515151;
}

.project {
    margin-top: 156px;
    margin-left: 260px;
    display: flex;
    font-size: 33.2px;
    line-height: 1.2;
    font-weight: 300;
    color: #656565;
}

.divsimple {
    width: 43px;
    height: 43px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #5f5f5f;
}

.line_1 {
    position: absolute;
    border-bottom: #656565 solid 2px;
    padding-bottom: 37px;
    width: 268px;
}

.line_1:hover {
    border-bottom: #add136 solid 2px;
}

.divsimple::before {
    content: '1';
    position: absolute;
    color: #ffffff;
    font-size: 20.2px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divsimple:hover {
    background-color: #add136;
    color: #000;
}

.simple {
    margin-left: 72px;
}

.divtransparent {
    width: 43px;

    height: 43px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #5f5f5f;
}

.line_2 {
    margin-left: 268px;
    position: absolute;
    border-bottom: #656565 solid 2px;
    padding-bottom: 37px;
    width: 400px;
}

.line_2:hover {
    border-bottom: #add136 solid 2px;
}

.divtransparent::before {
    content: '2';
    position: absolute;
    color: #ffffff;
    font-size: 20.2px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divtransparent:hover {
    background-color: #add136;
    color: #000;
}

.transparent {
    margin-left: 72px;
}

.divcollaborative {
    width: 43px;
    height: 43px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #5f5f5f;
}

.line_3 {
    margin-left: 651px;
    position: absolute;
    border-bottom: #656565 solid 2px;
    padding-bottom: 37px;
    width: 280px;
}

.line_3:hover {
    border-bottom: #add136 solid 2px;
}

.divcollaborative::before {
    content: '3';
    position: absolute;
    color: #ffffff;
    font-size: 20.2px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divcollaborative:hover {
    background-color: #add136;
    color: #000;
}

.collaborative {
    margin-left: 72px;
}

.glasses {
    margin-top: 200px;
    margin-left: 340px;
}

.glasses_text {
    margin-top: -125px;
    margin-left: 558px;
}

.glasses_text_title {
    font-size: 25.2px;
    line-height: 1.2;
    font-weight: 400;
    color: #add136;
}

.glasses_text_main {
    opacity: 0.67;
    font-size: 17.2px;
    line-height: 1.8;
    font-weight: 400;
    color: #606060;
}

.sofa_wallet_block {
    display: flex;
    justify-content: start;
    margin-top: 107px;
}

.sofa_bg {
    width: 960px;
    height: 305px;
    background-color: #e2f8ff;
}

.wallet_bg {
    width: 960px;
    height: 305px;
    background-color: #f5f9eb;
}

.img_sofa {
    width: 170px;
    margin-left: 141px;
    margin-top: 84px;
    float: left;
}

.title_sofa {
    font-size: 23.2px;
    line-height: 1.2;
    font-weight: 600;
    color: #515151;
    margin-left: 340px;
    margin-top: 46px;
}

.text_sofa {
    font-size: 17.2px;
    line-height: 1.9;
    font-weight: 400;
    color: #515151;
    margin-left: 340px;
    margin-top: 34px;
    width: 256px;
}

.sofa_button {
    width: 187px;
    height: 51px;
    background-color: #26a6d1;
    border-radius: 10px;
    font-size: 14.9px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 31px;
    margin-left: 28px;
}

.sofa_button:hover {
    color: #000000;
    background-color: #2999be;
}

.img_wallet {
    width: 120px;
    margin-left: 76px;
    margin-top: 96px;
    float: left;
}

.title_wallet {
    margin-left: 252px;
    margin-top: 45px;
    font-size: 23.2px;
    font-weight: 600;
    color: #515151;
}

.text_wallet {
    width: 256px;
    margin-left: 252px;
    margin-top: 34px;
    font-size: 17.2px;
    line-height: 1.9;
    font-weight: 400;
    color: #515151;
}

.wallet_button {
    width: 187px;
    height: 51px;
    background-color: #add136;
    border-radius: 10px;
    font-size: 14.9px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 31px;
    margin-left: 55px;
}

.wallet_button:hover {
    color: #000;
    background-color: #7fa20a;
}